body{
	width: 100%;
	margin: 0;
	padding: 0;
}
.mainContainer{
	width: 80%;
	margin: 0 auto;
	padding-top: 10%;
}
footer{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 20px 0;
}